.reset-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#formwrapp{
    width: 350px;
    height: 300px;
}
.form-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    width: 100%; 
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 95%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.success-message,
.error-message {
    margin: 10px 0;
    font-size: 14px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.reset-button {
    background-color: maroon; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: gold; 
}

.back-to-signin-link {
    margin-top: 15px;
}

.back-to-signin-link a {
    color: black;
    text-decoration: none;
}

.back-to-signin-link a:hover {
    text-decoration: underline;
}
